body{
    margin: 0;
}

header{
    background: #2C2C32;
    height: 50px;
    position: fixed;
    width: 100%;
    margin: auto;
}

header .d-flex{
    justify-content: space-between;
    align-items: center;
    
}

header .d-flex a{
    color: rgb(223, 213, 213);
    text-decoration: none;
    padding: 0 5px;
    align-items: center;

}

.nav-bar-left{
    align-items: center;
}

header .d-flex img{
    width: 30px;
    height: 30px;
    padding: 0 5px;
    align-items: baseline;
}
.d-flex nav{
    align-items: center;
    height: 30px;
}

header .d-flex span{
    font-size: 20px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-bar-right{
    height: 50px;
}

.nav-bar-right input{
    border-radius: 3px;
    background-repeat: no-repeat;
    width: 60%;
    background-image: url(../assets/icons/search-solid.svg);
    padding: 5px 2px 1px 50px;
    height: 40px;
    background-color: rgb(173, 169, 169);
    color: rgb(255, 253, 253);
}

.nav-bar-right a{
    background-color: rgb(13, 13, 190);
    height: 50px;
    margin: 0;
    width: 40%;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;

    
}
.container{
    width: 970px;
    margin:auto;
    text-align: center;

}

.d-flex{
    display: flex;

}

.notification-bar{
    background-color: #25252B;
    padding:60px 0 10px 0;
    align-items: center;
  
}

.notification-bar p{
    color: #ccc;
    margin: 0;
    text-align: center;
    align-items: center;
}

.welcome-container{
    background: #2C2C32;
    padding: 50px 0;


}
.welcome-download-conatiner{
    flex-direction: column;
    width: 30%;
}

.welcome-text-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome-container img{
    width: 70%;
}

.main-links-container a{
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    color: #444;
    padding: 15px 0;
}
.main-links-container i{
    font-size: 30px;
    color: #ccc;
}

.main-links-container a:hover{
    color: rgb(20, 20, 150);
}

.main-links-container i:hover{
    color: rgb(20, 20, 150);

}
.welcome-container-button{
    background-color: rgb(103, 103, 248);
    align-items: center;
    height:60px ;
}

.welcome-container-button h2{
    font-size: 18px;
    color: white;
    margin: 0;
    text-align: center;
}

.welcome-container-button p{
    color: rgb(235, 225, 225);
    margin: 0;
    text-align: center;
}

.welcome-container-button a{
    text-decoration: none;
}
.dowloand-text{
    width: 80%;
}

.chevron-download{
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    height:60px ;
    border-left: 4px solid #2C2C32;;
}

.welcome-download-conatiner-other{
    height: 40px;
    background-color: #1d1d20;
    margin-top: 15px;
    align-items: center;
    justify-content:center;
    border-radius: 4px;
    color: rgb(233, 227, 227);
}
.welcome-download-conatiner-other a{
    align-items: center;
    text-decoration: none;
    color: rgb(75, 75, 241);
    
}